@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Montserrat', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,800;9..144,900&display=swap');
/* font-family: 'Fraunces', serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-gold: #e6b75d;
    --color-white: #fff;
    --color-gray-1: #444444;
    --color-gray-2: #676767;
    --bg-cream: #fff0e6;
    --bg-black: #080808;
    --bg-gray: #141414;

    --font-principal: 'Montserrat', sans-serif;
    --font-numero: 'Fraunces', serif;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    background-color: var(--bg-cream);
    font-family: var(--font-principal);
}

p {
    font-size: 2.6rem;
    letter-spacing: 1.12px;
}

a {
    text-decoration: none;  
}

ul, 
ol {
    list-style: none;
}

#logoDocta {
    width: 12rem;
}


/* INDEX HTML */

/* HEADER */


header {
    position: absolute;
    width: 100%;
    height: 13rem;
    background: none;
    color: var(--color-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}

/* ESTUDIO HTML */

/* GALERIA HTML */

/* FIN GALERIA */


/* CONTACTO HTML */


/* MEDIAS QUERYS */

@media screen and (max-width: 850px) {

    .header__img {
        height: 15rem;
    }

    .header__imgArtistas::after,
    .header__imgGaleria::after,
    .header__imgEstudio::after,
    .header__imgContacto::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 15rem;
        background: rgba(0, 0, 0, 0.55); 
        box-shadow: none;
    }

    /* MEDIA GALERIA */

    .galeria__container {
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        grid-template-rows: 20rem;
    }

    .galeria__container .galeria__box:nth-child(4) {
        grid-column-start: span 1;
    }

    /* FIN MEDIA GALERIA */

    .footer__logo {
        display: none;
    }
    
    
    .footer p {
        font-size: 1.5rem;
    }
        
    .footer__redes  {
        display: none;
    }
    
    /* MEDIA ESTUDIO */

    .estudio {
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .estudio__carousel {
        width: 90%;
        height: 30rem;
        margin: 0 auto;
    }
}

@media screen and (max-width: 800px) {
    .header__nav,
    .header__redes  {
        display: none;
    }

    .header__img {
        position: relative;
        height: 12rem;
    }
    
    .header__toggle {
        display: block;
        position: absolute;
        right: 2rem;
    }

    .header__toggle a { 
        font-size: 2.4rem;
        color: var(--color-white);
        padding: 0.5rem;
    }

    #logoDocta{
        width: 10rem;
        position: relative;
        transform: translateY(-10px);
    }

    .header__imgArtistas::after,
    .header__imgGaleria::after,
    .header__imgEstudio::after,
    .header__imgContacto::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 12rem;
        background: rgba(0, 0, 0, 0.55); 
        box-shadow: none;
}

}

@media screen and (max-width: 750px) {

    .estudio {
        max-width: 95%;
    }
    
    .estudio p {
        padding: 0;
        font-size: 2rem;
        font-weight: 400;
        line-height: 30px;
    }
    
} 

@media screen and (max-width: 700px) {
    .footer__logo {
        display: none;
    }

    .footer__info {
        display: none;
    }
    
    
    .footer p {
        font-size: 1rem;
    }
        
    .footer__redes  {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    
    .galeria__container {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }

    .galeria__container .galeria__box img {
        height: 20rem;
    }

    /* MEDIA ESTUDIO */
    .estudio {
        max-width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    
    .estudio h1 {
        font-size: 3.5rem;
        font-weight: bold;
        margin: 0;
        padding: 1rem;
        border-radius: 5%;
        display: inline-block;
    }
    
    .estudio p {
        color: var(--color-gray-1);
        padding: 1rem 0;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 21px;
    }
    
    .estudio__carousel {
        width: 90%;
        height: 25rem;
    }
}

/* FIN MEDIAQUERIS */