@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Montserrat', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,800;9..144,900&display=swap');
/* font-family: 'Fraunces', serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-gold: #e6b75d;
    --color-white: #fff;
    --color-gray-1: #444444;
    --color-gray-2: #676767;
    --bg-cream: #fff0e6;
    --bg-black: #080808;
    --bg-gray: #141414;

    --font-principal: 'Montserrat', sans-serif;
    --font-numero: 'Fraunces', serif;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    background-color: var(--bg-cream);
    font-family: var(--font-principal);
}

p {
    font-size: 2.6rem;
    letter-spacing: 1.12px;
}

a {
    text-decoration: none;  
}

ul, 
ol {
    list-style: none;
}

#logoDocta {
    width: 12rem;
}

/* INDEX HTML */
/* HEADER */


header {
    position: absolute;
    width: 100%;
    height: 13rem;
    background: none;
    color: var(--color-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}

.header__nav ul li {
    display: inline;
}

.header__nav ul li a { 
    color: var(--color-white);
    font-family: var(--font-principal);
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 1.3px;
    padding: .5rem 1.2rem;
    text-shadow: 2px 2px 3px #000;
    position: relative;
    text-decoration: none;
}

.header__nav ul li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: .7px;
    background-color: var(--color-gold);
    bottom: 4px;
    left: 50%;
    box-shadow: 0px 1px 5px 0px var(--color-gold);
    transform: translateX(-50%);
    transition: width .3s ease-in-out;
}

.header__nav ul li a:hover::after {
    width: 70%;
}

.header__nav ul li a:hover {
    transition: color .4s ease-out;
    color: var(--color-gold);
}

.header__redes ul li{
    display: inline;
}

.header__redes i {
    color: var(--color-white);
    font-size: 1.6rem;
    margin-left: 2rem;
    transition: all .3s ease-in-out;
}

.header__redes i:hover {
    color: var(--color-gold);
    transform: scale(1.2);
}

.video{
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: -100;
    overflow: hidden;
    box-shadow: 0px 15px 70px 2px #000000dd;
}

#video-background {
    width: 100%;
    filter: brightness(0.5);
}

.arrow {
    position: absolute;
    top: 94%;
    left: 50%;
}

.arrowDown {
    font-size: 3rem;
    color: #d9d9d9c7;
    text-shadow: 0px -4px 3px #000;
    transition: all .3s ease-in-out;
}

.arrow:hover .arrowDown {
    transform: scale(1.2);
}
/* FIN HEADER */    

/* MAIN  */

main {
    width: 100%;
    margin: 0 auto;
    color: var(--color-gray-1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* FIN MAIN */


/* SECTION DOCTA */

.docta {
    max-width: 1200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.docta__title {
    border-bottom: 4px solid var(--color-gold);
    font-size: 4.3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 3rem ;
    padding: 1rem 0;
    border-radius: 5%;
    display: inline-block;
}

.docta__subtitle {
    font-size: 3.3rem;
    font-weight: 400;
    color: var(--color-gray-2);
}

.docta p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 3.5rem;
    padding: 3rem 0;
}

.docta__btn {
    margin-top: 6rem;
    padding: 2rem 5rem;
    color: var(--color-white);
    background-color: #1b1b1b;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: bold;
    border: 1px solid #444444;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.docta__btn span {
    color: var(--color-gold);
    font-size: 2rem;
    font-weight: bold;
}

.docta__btn:hover {
    letter-spacing: 3px;
    transform: scale(1.1) rotate(4deg);
    box-shadow: 0px 0px 15px 3px #1b1b1bb8;
    background-color: #080808f3;
    padding: 2rem 5.5rem;
}

/* FIN SECTION DOCTA */


/* SECTION PASOS */

.pasos {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-gray);
    color: #fff;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.91) inset;
}

.pasos__container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pasos__div {
    width: 400px;
    height: 500px;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pasos__div span {
    font-family: var(--font-numero);
    font-size: 10rem;
    padding-bottom: 3rem;
    text-shadow: 3px 3px 20px var(--color-gold);
}

.pasos__div h3 {
    color: var(--color-gold);
    font-size: 2.5rem;
    letter-spacing: 1.4px;
}

.pasos__div p {
    font-size: 2rem;
    font-weight: 300;
    padding: 1.4rem;
}
/* FIN SECTION PASOS */


/* FOOTER */

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-white);
}

.footer__top {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
    background-color: var(--bg-black);
}

.footer h3 {
    display: inline;
    font-size: 2rem;
    border-bottom: 2px solid var(--color-gold);
    border-radius: 7%;
}

.footer p {
    font-size: 1.6rem;
}

.footer ul {
    padding: 1rem 0;
}

.footer__info ul li{
    display: flex;
    align-items: center;
}

.footer__info li i {
    color: var(--color-gold); 
    font-size: 1.6rem;
    padding: 0.8rem;
}

.footer__horarios li {
    font-size: 1.6rem;
    letter-spacing: 1.12px;
}

.footer__redes ul {
    display: flex;
    justify-content: space-between;
}

.footer__redes ul i {
    font-size: 1.8rem;
    color: var(--bg-cream);
    transition: all .4s ease-in-out;
}

.footer__redes ul i:hover {
    color: var(--color-gold);
}

.footer__bottom  {
    width: 100%;
    height: 3rem;
    background-color: #141414;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 2rem;
}

.footer__bottom p {
    color: var(--bg-cream);
    padding: 0 .3rem;
}

.footer__bottom p a {
    color: var(--color-gold);
}

.footer__bottom p a:hover {
    text-shadow: 0px 0px 7px var(--color-gold);
}

/* FIN FOOTER */


/* HEADER PAGES */

.header__img{
    width: 100%;
    height: 30rem;
    background-size: cover;
    z-index: -50;
}
.header__imgArtistas {
    background-image: url(../assets/img/backgrounds/background-maquina-l.jpg);
    background-repeat: no-repeat;
    background-position: center 75%;
    background-size: cover;
}
.header__imgGaleria {
    background-image: url(../assets/img/backgrounds/background-maquina-l.jpg);
    background-repeat: no-repeat;
    background-position: center 75%;
    background-size: cover;
}
.header__imgEstudio {
    background-image: url(../assets/img/img-estudio-artistas/estudio.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.header__imgContacto {
    background-image: url(../assets/img/backgrounds/background-maquina-l.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.header__imgArtistas::after,
.header__imgGaleria::after,
.header__imgEstudio::after,
.header__imgContacto::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30rem;
    background: rgba(0, 0, 0, 0.55); 
    box-shadow: 0px 5px 30px 0px #0000008b;
}

/* FIN HEADER PAGES  */


/* ARTISTAS HTML */

.equipo {
    width: 100%;
    background-color: var(--bg-gray);
    color: var(--bg-cream);
    text-align: center;
}

.equipo .equipo__title {
    border-bottom: 4px solid var(--color-gold);
    font-size: 4.3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 3rem 0;
    padding: 1rem 0;
    border-radius: 5%;
    display: inline-block;
}

.equipo .equipo__descripcion {
    padding: 2rem 5rem;
    max-width: 1200px;
    margin: 0 auto;
    font-weight: 300;
    line-height: 34px;
}

.equipo__cards {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
    padding: 3rem;
}

.card {
    width: 30rem;
    height: 38rem;
    display: flex;
    flex-direction: column;
    background: var(--bg-black) !important;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 10px 10px 15px 0px #000000;
    transition: box-shadow .2s ease-in-out;
}

.card:hover {
    box-shadow: 10px 10px 30px 2px #000000;
}

.card__imgContainer {
    width: 100%;
    height: 20rem;
    display: block;
    overflow: hidden;
    
}

.card__imgContainer img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
}

.card__datos {
    text-align: center;
    overflow: hidden;
}

.card__datos--nombre {
    color: var(--color-white);
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
}

.card__datos--estilos {
    color: var(--color-gold);
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 300;
    margin: 0;
}

.card__redes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.card__redes li {
    font-size: 2.2rem;
    padding: .5rem;
}

.card__redes li a {
    color: var(--bg-cream);
    padding: 1rem;
}

.card__redes li a:hover {
    transition: all .2s ease-in;
    text-shadow: 0px 0px 10px var(--color-gold);
}

/* FIN ARTISTAS HTML */

/* ESTUDIO HTML */

.estudio {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.estudio h1 {
    text-transform: uppercase;
    color: var(--color-gray-1);
    font-size: 4.3rem;
    font-weight: bold;
    margin: 3rem 0;
    border-bottom: 4px solid var(--color-gold);
    padding: 1rem 0;
    border-radius: 5%;
    display: inline-block;
}

.estudio p {
    color: var(--color-gray-1);
    padding: 2rem 5rem;
    font-weight: 400;
    line-height: 34px;
}

.estudio__carousel {
    width: 100%;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    box-shadow: 0px 0px 30px 0px #00000089;
    border-radius: 20px;
}

/* FIN ESTUDIO HTML */


/* GALERIA HTML */
.galeria {
    width: 100%;
    background-color: var(--bg-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 0;
}
.galeria__title {
    color: var(--bg-cream);
    text-align: center;
    text-transform: uppercase;
    font-size: 4.3rem;
    margin-bottom: 5rem;
    padding: 1rem 0;
    border-bottom: 4px solid var(--color-gold);
    border-radius: 5%;
    display: inline-block;
}

.galeria__container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 15px;
}

.galeria__container .galeria__box figure {
    width: 100%; 
    height: 100%;
}

.galeria__container .galeria__box img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

.galeria__container .galeria__box:nth-child(4) {
    grid-column-start: span 2;
}

.galeria__container .galeria__box:nth-child(9) {
    grid-column-start: span 2;
}

.galeria__box {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}

.galeria__box::before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background: rgba(0, 0, 0, .4);
    opacity: 0;
    transition: opacity .2s ease-in-out, 
    background .3s ease-in-out
}

.galeria__box:hover::before {
    opacity: 1;
    background: rgba(0, 0, 0, .7);
}



/* FIN GALERIA */