/* COMIENZO MEDIA QUERYS */

/* NO PUEDO SOLUCIONAR ESPACIO EN BLANCO A LA DERECHA ENTRE
min-width: 852px and max-width: 1200px*/

@media screen and (max-width: 850px) {

    /* MEDIA INDEX VIDEO */
    .video {
        border: 1px solid red;
        height: 13rem;
    }

    .arrow {
        display: none;
    }

    /* SECTION DOCTA */
    .docta {
        height: 100vh;

        &__p {
            width: 98%;
            line-height: 2.9rem;
        }

        &__btn {
            margin-top: 3rem;

            &:hover {
                letter-spacing: 1px;
                transform: none;
                box-shadow: 0px 0px 15px 3px #1b1b1bb8;
                background-color: #080808f3;
            }
        }
    }

    /* SECTION PASOS */
    .pasos__container {
        width: 100%;
        @include flex(flex,column,center,center);
        overflow: hidden;
    }

    .pasos__div {
        width: 85%;
        height: 200px;
        text-align: center;
        @include flex(flex,column,center,center);
        & span {
            font-family: $font-numero;
            font-size: 5rem;
            font-weight: bold;
            text-shadow: 3px 3px 20px $color-gold;
        }

        & h3 {
            @include textos($color-gold,1.9rem,none);
            letter-spacing: 1.4px;
        }

        & p {
            font-size: 1.7rem;
            font-weight: 300;
            padding: 0rem;
        }
    }
    /* MEDIA HEADER */

    .header__img {
        height: 15rem;
    }

    .header__imgArtistas::after,
    .header__imgGaleria::after,
    .header__imgEstudio::after,
    .header__imgContacto::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 15rem;
        background: rgba(0, 0, 0, 0.55); 
        box-shadow: none;
    }

    /* FIN MEDIA HEADER */

    /* MEDIA GALERIA */

    .galeria__container {
        width: 95%;
        max-width: auto;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: .5rem;

        .galeria__box {
            width: 100%;

            &:nth-child(4) {
                grid-column-start: span 1;
            }
        }
    }

    /* FIN MEDIA GALERIA */
    
    /* MEDIA ESTUDIO */

    .estudio {
        max-width: 100%;
        margin: 0 auto;
        text-align: center;

        & .estudio__carousel {
            width: 90%;
            height: 30rem;
            margin: 0 auto;
        }
    }

    /* FIN ESTUDIO */

    /* MEDIA FOOTER */
    .footer__logo {
        display: none;
    }
    
    
    .footer p {
        font-size: 1.5rem;
    }
        
    .footer__redes  {
        display: none;
    }
    /* FIN MEDIA FOOTER */
}

@media screen and (max-width: 800px) {
    .header__nav,
    .header__redes  {
        display: none;
    }

    .header__img {
        position: relative;
        height: 12rem;
    }
    
    .header__toggle {
        display: block;
        position: absolute;
        right: 2rem;
    }

    .header__toggle a { 
        font-size: 2.4rem;
        color: $color-white;
        padding: 0.5rem;
    }

    #logoDocta{
        width: 10rem;
        position: relative;
        transform: translateY(-10px);
    }

    .header__imgArtistas::after,
    .header__imgGaleria::after,
    .header__imgEstudio::after,
    .header__imgContacto::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 12rem;
        background: rgba(0, 0, 0, 0.55); 
        box-shadow: none;
}

}

@media screen and (max-width: 750px) {

    .estudio {
        max-width: 95%;

        & p {
            padding: 0;
            font-size: 2rem;
            font-weight: 400;
            line-height: 30px;
        }
    }
} 

@media screen and (max-width: 700px) {
    .footer__logo {
        display: none;
    }

    .footer__info {
        display: none;
    }
    
    
    .footer p {
        font-size: 1rem;
    }
        
    .footer__redes  {
        display: none;
    }
}

@media screen and (max-width: 500px) {

    /* SECTION DOCTA */
    .docta {
        height:100vh;

        &__title {
            font-size: 3rem;
        }

        &__subtitle {
            font-size: 2.5rem;
        }

        &__p {
            font-size: 2rem;
            width: 98%;
            line-height: 2.9rem;
        }

        &__btn {
            @include textos($color-white, 1.2rem, uppercase);
            margin-top: 0rem;
            padding: 1rem 3rem;
            background-color: #1b1b1b;
            text-decoration: none;
            border-radius: 3px;
            font-weight: 700;
            border: 1px solid #444444;
            transition: all .3s ease-in-out;
            letter-spacing: 1.4px;
            cursor: pointer;
    
            & span {
                @include textos($color-gold,2rem,none);
                font-weight: bold;
            }
    
            &:hover {
                letter-spacing: 1.4px;
                transform: scale(1) rotate(0deg);
                box-shadow: 0px 0px 10px 3px #1b1b1bb8;
                background-color: #080808f3;
            }
        }
    }

    .galeria__title {
        font-size: 3rem;
    }
    .galeria__container {
        width: 95%;
        max-width: auto;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: .5rem;

        .galeria__box {
            width: 100%;
            height: 30rem;
            &:nth-child(4) {
                grid-column-start: span 1;
            }

            &:nth-child(9) {
                grid-column-start: span 1;
            }

            & figure {
                object-fit: cover;
            }
        }
    }

    /* MEDIA ESTUDIO */
    .estudio {
        max-width: 90%;
        margin: 0 auto;
        text-align: center;

        & h1 {
            font-size: 3.5rem;
            font-weight: bold;
            margin: 0;
            padding: 1rem;
            border-radius: 5%;
            display: inline-block;
        }

        & p {
            color: $color-gray-1;
            padding: 1rem 0;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 21px;
        }

        & .estudio__carousel {
            width: 90%;
            height: 25rem;
        }
    }
}

/* FIN MEDIA QUERYS */
