$color-gold: #e6b75d;
$color-white: #fff;
$color-gray-1: #444444;
$color-gray-2: #676767;
$bg-cream: #fff0e6;
$bg-black: #080808;
$bg-gray: #141414;

$font-principal: 'Montserrat', sans-serif;
$font-numero: 'Fraunces', serif;
