/* COMIENZO MEDIA QUERYS */

/* NO PUEDO SOLUCIONAR ESPACIO EN BLANCO A LA DERECHA ENTRE
min-width: 852px and max-width: 1200px*/

@media screen and (max-width: 980px) {
    .equipo {

        &__cards {
            max-width: 100%;
            margin: 3rem auto; 
        }
    
        .card {
            width: 24rem;
            height: 29rem;
            border-radius: 4px;
    
            &__imgContainer {
                height: 17rem;
            }
            }
        }
}

@media screen and (max-width: 850px) {

    /* MEDIA INDEX VIDEO */
    .video {
        height: 13rem;
    }

    .arrow {
        display: none;
    }

    /* SECTION DOCTA */
    .docta {
        height: 100vh;

        &__p {
            width: 98%;
            line-height: 2.9rem;
        }

        &__btn {
            margin-top: 3rem;

            &:hover {
                letter-spacing: 1px;
                transform: none;
                box-shadow: 0px 0px 15px 3px #1b1b1bb8;
                background-color: #080808f3;
            }
        }
    }

    /* SECTION PASOS */
    .pasos__container {
        width: 100%;
        @include flex(flex,column,center,center);
        overflow: hidden;
    }

    .pasos__div {
        width: 85%;
        height: 200px;
        text-align: center;
        @include flex(flex,column,center,center);
        & span {
            font-family: $font-numero;
            font-size: 5rem;
            font-weight: bold;
            text-shadow: 3px 3px 20px $color-gold;
        }

        & h3 {
            @include textos($color-gold,1.9rem,none);
            letter-spacing: 1.4px;
        }

        & p {
            font-size: 1.7rem;
            font-weight: 300;
            padding: 0rem;
        }
    }
    /* HEADER */

    .header__img {
        height: 15rem;
    }

    .header__imgArtistas::after,
    .header__imgGaleria::after,
    .header__imgEstudio::after,
    .header__imgContacto::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 15rem;
        background: rgba(0, 0, 0, 0.55); 
        box-shadow: none;
    }

    /* FIN HEADER */

    /* GALERIA */

    .galeria__container {
        width: 95%;
        max-width: auto;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: .5rem;

        .galeria__box {
            width: 100%;

            &:nth-child(4) {
                grid-column-start: span 1;
            }
        }
    }
    
    /* ESTUDIO */

    .estudio {
        max-width: 100%;
        margin: 0 auto;
        text-align: center;

        & .estudio__carousel {
            width: 90%;
            height: 30rem;
            margin: 0 auto;
        }
    }

    /* CONTACTO */

    .contacto {
        &__form {
            width: 97%;
            background-color: $bg-gray;
            display: flex;
            justify-content: space-evenly;
            margin: 2rem 0;
        }
    }

    /* MEDIA FOOTER */
    .footer__logo {
        display: none;
    }
    
    
    .footer p {
        font-size: 1.5rem;
    }
        
    .footer__redes  {
        display: none;
    }
    /* FIN MEDIA FOOTER */
}

@media screen and (max-width: 800px) {
    .header__nav,
    .header__redes  {
        display: none;
    }

    .header__img {
        position: relative;
        height: 12rem;
    }
    
    .header__label {
        display: block;
        padding: .5rem;
        position: absolute;
        right: 2rem;
        &-icon {
            @include textos($color-gold, 3rem, none);
        }
    }

    .header__input:checked + .header__nav {
        position: absolute;
        display: block;
        top: 12rem;
        width: 100%;
        background: #000000ed;
        border-radius: 0 0 3rem 3rem;
    }

    .header__input:checked + .header__nav ul {
        height: 50%;
        @include flex(flex,column,space-evenly,center);

        & li {
            border-top: 3px solid $color-gold;
            width: 50%;
            text-align: center;
            padding: 2rem;

            &:nth-child(1) {
                border: none;
            }
        }

        & li a {
            @include textos($color-gold,2.5rem,none)
        }
    }



    #logoDocta{
        width: 10rem;
        position: relative;
        transform: translateY(-10px);
    }

    .header__imgArtistas::after,
    .header__imgGaleria::after,
    .header__imgEstudio::after,
    .header__imgContacto::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 12rem;
        background: rgba(0, 0, 0, 0.55); 
        box-shadow: none;
    }

    /* ARTISTAS */

    .equipo {

        &__cards {
            max-width: 100%;
            margin: 3rem auto; 
        }
    
        .card {
            width: 22rem;
            height: 28rem;
            border-radius: 4px;
    
            &__imgContainer {
                height: 15  rem;
            }

            &__datos--estilos {
                padding: 1rem;
            }
        }
    }

}

@media screen and (max-width: 750px) {
    /* ARTISTAS */
    .equipo {

        &__cards {
            max-width: 100%;
            margin: 1rem auto;
            @include flex (flex, column, center, space-around);
            padding: 0rem;
        }
    
        .card {
            width: 27rem;
            height: 30rem;
            margin: 1rem 0;
            box-shadow: 10px 10px 3px 0px #000000c7;
    
            &__imgContainer {
                width: 100%;
                height: 19rem;
            }
        }
    }

    /* ESTUDIO */
    .estudio {
        max-width: 95%;

        & p {
            padding: 0;
            font-size: 2rem;
            font-weight: 400;
            line-height: 30px;
        }
    }
} 

@media screen and (max-width: 700px) {
    /* CONTACTO */
    .contacto {
    
        &__title {
            margin: 2rem 0;
        }
    
        &__form {
            width: 95%;
            background-color: $bg-gray;
            @include flex(flex,column,center,center);
            margin: 2rem 0;
    
            & .formLeft {
                width: 100%;
            }

            & .formRight {
                width: 100%;
                & div {
                    width: 80%;
                }
            }
        }
        &__acordeon {
            width: 100%;

            & .acordeon {
                width: 80%;
            }
        }
    }   
    /* FOOTER */

    .footer__logo {
        display: none;
    }

    .footer__info {
        display: none;
    }
    
    
    .footer p {
        font-size: 1rem;
    }
        
    .footer__redes  {
        display: none;
    }

}

@media screen and (max-width: 500px) {
    /* ARTISTAS */

    .equipo {
        width: 100%;
        background-color: $bg-gray;
        color: $bg-cream;
        text-align: center;
    
        &__title {
            @extend %titleStyles;
        }
    
        &__descripcion {
            padding: 1rem .2rem;
            max-width: 100%;
            font-weight: 300;
            line-height: 30px;
        }
    }

    /* SECTION DOCTA */
    .docta {
        height:100vh;

        &__title {
            font-size: 3rem;
        }

        &__subtitle {
            font-size: 2.5rem;
        }

        &__p {
            font-size: 2rem;
            width: 98%;
            line-height: 2.9rem;
        }

        &__btn {
            @include textos($color-white, 1.2rem, uppercase);
            margin-top: 0rem;
            padding: 1rem 3rem;
            background-color: #1b1b1b;
            text-decoration: none;
            border-radius: 3px;
            font-weight: 700;
            border: 1px solid #444444;
            transition: all .3s ease-in-out;
            letter-spacing: 1.4px;
            cursor: pointer;
    
            & span {
                @include textos($color-gold,2rem,none);
                font-weight: bold;
            }
    
            &:hover {
                letter-spacing: 1.4px;
                transform: scale(1) rotate(0deg);
                box-shadow: 0px 0px 10px 3px #1b1b1bb8;
                background-color: #080808f3;
            }
        }
    }

    .galeria__title {
        font-size: 3rem;
    }
    .galeria__container {
        width: 95%;
        max-width: auto;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: .5rem;

        .galeria__box {
            width: 100%;
            height: 30rem;
            &:nth-child(4) {
                grid-column-start: span 1;
            }

            &:nth-child(9) {
                grid-column-start: span 1;
            }

            & figure {
                object-fit: cover;
            }
        }
    }

    /* MEDIA ESTUDIO */
    .estudio {
        max-width: 90%;
        margin: 0 auto;
        text-align: center;

        & h1 {
            font-size: 3.5rem;
            font-weight: bold;
            margin: 0;
            padding: 1rem;
            border-radius: 5%;
            display: inline-block;
        }

        & p {
            color: $color-gray-1;
            padding: 1rem 0;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 21px;
        }

        & .estudio__carousel {
            width: 90%;
            height: 25rem;
        }
    }
}

@media screen and (max-width: 450px) {

    .docta {
        height: 100%;
        @include flex(flex, column, center, center);
    
        &__p {
            width: 90%;
            line-height: 2.4rem;
            padding: 3rem 0;
        }
    
        &__btn {
            @include textos($color-white, 1.6rem, uppercase);
            margin: 2rem 0;
            padding: 1.5rem 3rem;
    
            & span {
                @include textos($color-gold,2rem,none);
                font-weight: bold;
            }
    
            &:hover {
                letter-spacing: 3px;
                transform: scale(1.1) rotate(2deg);
                box-shadow: 0px 0px 15px 3px #1b1b1bcb;
                background-color: #080808f3;
            }
        }
    }
    

    .pasos {
    
        &__container {
            width: 100%;
            height: 100%;
            @include flex(flex,column,space-evenly,center);
        }
    
        &__div {
            width: 90%;
            height: 70rem;
            text-align: center;
            @include flex(flex,column,center,center);
            & span {
                font-size: 5rem;
            }
    
            & h3 {
                @include textos($color-gold,2rem,none);
                letter-spacing: 1.4px;
            }
    
            & p {
                font-size: 1.8rem;
                font-weight: 300;
                padding: .5rem;
                line-height: 22px;
            }
        }
    }

    .footer__bottom{
        display: none;
    }
}

/* FIN MEDIA QUERYS */
