* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    background-color: $bg-cream;
    font-family: $font-principal;
}

p {
    font-size: 2.6rem;
    letter-spacing: 1.12px;
}

a {
    text-decoration: none;  
}

ul, 
ol {
    list-style: none;
}

#logoDocta {
    width: 12rem;
}
